body{

font-family:'Segoe UI',sans-serif;

background:#f8f9fa;

}

.left-side{

background:linear-gradient(135deg,#0d6efd,#4f46e5);

color:white;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}

.left-side h1{

font-size:52px;

font-weight:bold;

}

.login-card{

width:420px;

background:white;

padding:45px;

border-radius:20px;

box-shadow:0 20px 50px rgba(0,0,0,.15);

}

.form-control{

height:50px;

}

.btn-primary{

height:50px;

font-weight:bold;

}